@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Default text color: black */
  --background-start-rgb: 214, 219, 220; /* Light gray */
  --background-end-rgb: 255, 255, 255; /* White */
}

input{
  color: black;
}

header, header img{
  height: 30vh;
}

